@model IEnumerable<Vidley.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@if (Model.Any())
{
    <table class="table table-bordered">
        <tr>
            <th>
                Customer
            </th>
            <th>Membership Type</th>
        </tr>

        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "Customers", new { id=customer.Id })">@customer.Name</a>
                </td>
                <td>
                    @customer.MembershipType.Name
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Customers", "Details", new { id=item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                </td>
            </tr>
        }

    </table>
}
else
{
    <p>We don't have any customers yet</p>
}


