@model IEnumerable<Vidley.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table table-bordered">
    <tr>
        <th>
           Movie
        </th>
        <th>
           Genre
        </th>
    </tr>

@foreach (var movie in Model) {
    <tr>
        <td>
            @Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id}, null)
        </td>
        <td>
            @movie.Genre.Name
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
